$color-deep-grey: #0B0C10; //panel boczny, nawigacja
$color-grey: #1F2833; //nagłówek, kolor tekstu w kolumnach
$color-light-grey: #C5C6C7; //przyciski, wyróżnienia, nagłówki ekranów
$color-text-white: #fff;
$color-red: #D23600; //kolor tła ekranów
$color-orange: #fd7400; //kolor wiadomości typu info,
$color-yellow: #ffb03b; //kolor wiadomości typu warning
$color-green: #468966; //kolor wiadomości typu success
