@use 'sass:color';

.navWrapper {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: fade-out($color-deep-grey, 0.4);
}

.containerNav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  .navList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    li , a , .active {
      text-decoration: none;
      list-style: none;
      color: $color-text-white;
      padding: 0 10px;
      &:hover{
        transition: 0.1s;
        transform: scale(1.05);
      }
      &:active {
        color: fade-out($color-deep-grey, 0.1);;
      }
    }
  }
}

.brandLogo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $color-text-white;
  font-size: 40px;
  font-weight: bolder;
  text-shadow: 2px 2px solid $color-deep-grey;
  padding: 0 20px;
  span {
    color: $color-orange;
  }
  &:hover{
    //background-color: fade-out($color-deep-grey, 0.3);;
    transition: 0.10s;
    transform: scale(1.05);
  }
  &:active {
    background-color: fade-out($color-grey, 0.1);
  }
}