.row {
  display: flex;
  justify-content: space-between;
  margin: 20px;

}
.cardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  p {
    margin: 5px 0;
  }
}

.notifications {
  margin-left: 40px;
}

