@use "sass:color";

.plan-form {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
}

.createPlanWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  label {
    margin-right: 10px;
  }
  .form-control {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
    height: 32px;
    background-color: fade-out($color-light-grey, 0.2);
    &:active, &:hover{
      cursor: pointer;
      background-color: fade-out($color-deep-grey, 0.2);
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 19px;
  margin: 5px;
  width: calc(100% - 10px);
  overflow: hidden;
  padding: 0px 10px;
  user-select: none;
  height: 35px;
  background: $color-orange;
  &:hover{
    background: darken($color-orange, 15%);
  }
}

.continue {
  margin: 10px 0;
  font-size: 12px;
}
.newPlanDetails {

  margin: 10px 0;
  height: 32px;
  input, textarea {
    background-color: fade-out($color-light-grey, 0.2);
    &:active, &:hover{
      cursor: pointer;
      background-color: fade-out($color-deep-grey, 0.2);
    }
  }
}

.planCreator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}



